/* Data anime */

[data-anime] {
	opacity: 0;
	transition: .1s ease;
}

[data-anime].animate {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

[data-anime-left] {
	opacity: 0;
	transform: translate3d(0px, -10px, 0);
	transition: .1s ease;
	@media(min-width: map-get($grid-breakpoints,md)){
		transform: translate3d(-10px, 0px, 0);
	}
}
 
[data-anime-left].animate {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

[data-anime-right] {
	opacity: 0;
	transform: translate3d(0, 10px, 0);
	transition: .1s ease;
	@media(min-width: map-get($grid-breakpoints,md)){
		transform: translate3d(10px, 0px, 0);
	}
}

[data-anime-right].animate {
	opacity: 1;
	transform: translate3d(0, 0, 0);
} 
