footer{
	.banner-footer{
	 	height: 180px;
	 	width: 100%;
	 	background: url("../img/banner-footer.jpg");
	 	background-repeat: no-repeat;
	 	position-size: cover;
	 	.mask-footer{
	 		height: 100%;
	 		background: white;
	 		opacity: 0.9;
	 		display: flex;
    		align-items: center;
	 	}
	 	.item-redes{
	 		margin: 10px 0px;
	 	}
	 	.titulo{
	 		    font-size: 1.2rem;
			    font-weight: bold;
			    font-family: "Montserrat", sans-serif;
			    margin-bottom: 12px;
	 	}
		a{
			color: black;
			&:hover{
				color: blue;
				text-decoration: none;
				svg{
					fill: blue!important; 	
					path{
						fill: blue!important;
					}	
				}
			}
		}
		span{
			margin-right: 10px;
			svg{
				width: 30px;
				height: 30px;
			} 	
		}
		.box-redes{
			display: flex;
			.item-redes{
				flex: 1;
			}
		}
					
	}
	.copy-footer{
		padding: 20px 0px;
		width: 100%;
		.copy{
			display: flex;
			.item{
				flex: 1;
				&:nth-child(2){
					text-align: right;
					font-size: 0.8125rem;
				}
			}
		}
	}
}