header{
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	@media(min-width: map-get($grid-breakpoints,lg)){ 
		padding: 15px 15px 15px 15px;
	}
	.logo{
	    align-items: center;
	    display: flex;
	    justify-content: center;
	    height: 60px;
	    float: left;
		img{
			margin-top: 10px;
			width: 130px;
			@media(min-width: map-get($grid-breakpoints,lg)){ 
				margin-top: 0px;
				width: 100%;
			}
		}
	}
	.menu-desktop{
		display: none;
			a{
				font-size: 0.875rem;
				text-transform: uppercase;
    			color: 	#fff;
    		text-decoration: 	none;
    		&:hover{

    			color: 	#0000ff;
    		}
    	}
	
		@media(min-width: map-get($grid-breakpoints,lg)){ 
			    display: block;
			    text-align: right;
    		ul{
    			height: 100%;
    			display: flex;	
    			align-items: center;
    			justify-content: flex-end;
    			li{
    				margin: 15px;
    				font-size: 1em;
    				display: inline;
    			}
    		}
		}
	}
}


.menu_mobile {
	@media(min-width: map-get($grid-breakpoints,lg)){ 
		display: none;
	}
	.menu-toggle {
		margin-top: 15px;
		float: right;
		cursor: pointer;
		z-index: 12;
		@include anima-fast;
		border-radius: 50%;

		@media(min-width: map-get($grid-breakpoints,sm)){ 
			right: 20px;
		}
		&.on {
			position: fixed;
			top: 10px;
			right: percentage(.5/12);
			background: #fff;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			@include anima-fast;
			padding: 0;
			.one {
				transform: rotate(45deg);
				height: 2px;
				width: 20px;
				background: $vermelho;
				margin-top: 14px;

			}

			.two {
				opacity: 0;
			}

			.three {
				transform: rotate(-42deg);
				margin-top: -18px;
				height: 2px;
				width: 20px;
				background: $vermelho;
			}

			.titulo_menu {
				display: none;
			}
		}

		.titulo_menu {
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			font-size: 0.9375rem;
		}
	}
	.one,.two,.three{
		width: 70%;
		height: 4px;
		background: #fff;
		margin: 6px auto;
		backface-visibility: hidden;
		@include anima-slow;
	}

	nav { 
		@include anima-slow; 
		width: 100vw;
		background: #0f1a42;
		height: 100vh;
		top: 0;
		position: fixed;
		right: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 11;
		.logo { 
		    margin-top: 15px;
		    margin-left: 15px;
		    display: block;
		}
		ul{
			@include anima-slow;
			margin: 0;
			padding: 100px 0 0;
			font-family: 'Bebas Neue', sans-serif;
			list-style: none;
			margin: 0 auto;
			text-align: center;
			@extend .col-12;
			background: rgba(255,255,255,.1);
			width: 100vw;
			height: 100vh;
			position: fixed;
			right: 0;
			top: 0; 
			z-index: 11;
    		justify-content: center;
   			display: flex;
    		flex-direction: column;
			@include anima-slow;

			a {
				margin-bottom: 20px;
				font-family: 'Bebas Neue', sans-serif;
				font-weight: bold;
				@include anima-slow;
				text-decoration: none;
				color: white;
				font-size: 1.5em;
				line-height: 1.5;
				width: 100%;
				display: block;
				&:hover {
					color: $vermelho;
				}
			}
		}


		.menu-section {
			&.on {
				z-index: 10;
				width: 100%;
				height: 100%;
				display: block;
				background-color: rgba(0,0,0,0.5);
				position: absolute;
			}
		}

		&.hidden {
			display: none;
			@include anima-slow; 
		}
	}
}
