.font-30{
	font-size: 1.6rem;
	@media(min-width: map-get($grid-breakpoints,sm)){ 
		font-size: 1.875rem;
	}
}

.banner{
	position: relative;

	@media(min-width: map-get($grid-breakpoints,lg)){ 
		&:after{
			position: absolute;
		    top: 50px;
		    right: 0px;
		    width: 300px;
		    content: "";
		    display: block;
		    height: 750px;
		    background: url("../img/braco-vermelho.png" );
		    background-size: contain;
		    background-position: right;
		    background-repeat: no-repeat;
		}
	}

	@media(min-width: map-get($grid-breakpoints,xl)){
		&:after{
			position: absolute;
		    top: 30px;
		    right: 0px;
		    width: 300px;
		    content: "";
		    display: block;
		    height: 780px;
		    background: url("../img/braco-vermelho.png");
		    background-size: contain;
		    background-position: right;
		    background-repeat: no-repeat;
	    }
	}
	@media(min-width: 1500px){ 
		&:after{
		    position: absolute;
		    top: 50px;
		    right: 0px;
		    width: 350px;
		    content: "";
		    display: block;
		    height: 850px;
		    background: url("../img/braco-vermelho.png");
		    background-size: contain;
		    background-position: right;
		    background-repeat: no-repeat;
		}
	}
	.item{
		display: flex !important;
		align-items: center;
		background: blue;
		width: 100%;
		margin: 0px;
	    background: blue;
	    width: 100%;
	    padding: 0px;
	    height: 70vh;
	    @media(min-width: map-get($grid-breakpoints,lg)){ 
			height: 90vh;
		}
	    .row{
	    	.texto-banner{
	    		font-family: "Montserrat", sans-serif;
	    		font-weight: bold; 
	    		color: white;
	    		max-width: 600px;
	    		letter-spacing: 0.1em;
	    		font-size: 2rem;
	    		line-height: 2.4rem;

	    		@media(min-width: map-get($grid-breakpoints,sm)){ 
	    			letter-spacing: 0.1em;
					font-size: 3rem;
	    			line-height: 3.5rem;
				}
				@media(min-width: map-get($grid-breakpoints,md)){ 
	    			letter-spacing: 0.1em;
					font-size: 3.7rem;
	    			line-height: 4.3rem;
				}
	    		@media(min-width: map-get($grid-breakpoints,lg)){ 
	    			letter-spacing: 0.01em;
					font-size: 4.5rem;
	    			line-height: 5.5rem;
				}

	    		span{
	    			text-decoration: underline;
	    			text-decoration-color: #ffffff70;
	    		}
	    	}
	    }
	}

	svg{
		width: 20px;
		height: 20px;
	}
	.nextarrow{ position: absolute; top: 50%; right: 10px; z-index: 2; }
	.prevarrow{ position: absolute; top: 50%; left: 10px; z-index: 2; }
}

