
section.saiba-mais{
	background: #f7f7f7;
	font-family: "Montserrat" ,sans-serif;
	padding: 20px 0px;
	@media(min-width: map-get($grid-breakpoints,sm)){ 
		padding: 50px 0px;
	}
	h2{
		margin-left: 0px;
		font-weight: bold;
		max-width: 250px;
		margin-bottom: 20px;
		@media(min-width: map-get($grid-breakpoints,sm)){ 
			margin-bottom: 50px;
		}
	}
	.box-saiba-mais{
		display: flex;
		flex-direction: column;
		@media(min-width: map-get($grid-breakpoints,md)){ 
			flex-direction: row;
		}
		.item{
			flex: 1;

			&:nth-child(1){
				p{
					font-size: 1rem;
					color: #3a3a3a;
				}
				.box-topicos{
					margin-bottom: 30px;
					margin-top: 30px;
					@media(min-width: map-get($grid-breakpoints,sm)){ 
						margin-top: 50px;
					}
					.acordion_saiba{
						position: relative;
						overflow: hidden;
						font-size: 1rem;	
						font-family: "Montserrat", sans-serif;
						.topicos{
							font-weight: bold;
							border-bottom: 1px solid black;
							padding: 5px;
							cursor: pointer;
							span{
								font-weight: bold;
								font-size: 1.2rem;
								float: right;
							}

							&:hover{
								transition: background-color 0.7s ease-in-out;
							    color: white;
    							background: #090f62;
							}
						}

						.box-texto{
							height: 0px;
							margin-top: -300px;
							display: none;
							padding: 5px;
							text-align: justify;
							transition: 2s;
							opacity: 0;
						}

					}
					.acordion_open{
						.topicos{
							color: white;
    						background: #090f62;
    						span{
    							transition: 0.7s;
    							font-size: 1.3rem;
    							color: red;
    							transform: rotate(225deg);
    						}
						}
						.box-texto{
							opacity: 1;
							margin-top: 0px;
							height: 100%;
							transition: 2s;
							display: block;
						}

					}

				}
			}
			&:nth-child(2){
				@media(min-width: map-get($grid-breakpoints,md)){ 
					padding-left: 30px;
				}
				
				.video{
					background: url("../img/img-video.png");
					height: 250px;
					width: 100%;
				}
			}
		}

	}
}
