section.contato{
	h2{	font-weight: bold; margin-top: 20px;	
		@media(min-width: map-get($grid-breakpoints,md)){ 
			margin-top: 0px;
		}
	}
	background: #fff;
	font-family: "Montserrat", sans-serif;

	@media(min-width: map-get($grid-breakpoints,sm)){ 
		margin-top: -100px;
		padding-top: 100px;
	}
	@media(min-width: map-get($grid-breakpoints,md)){ 
		padding: 50px 0px;
		margin-top: -120px;
		padding-top: 170px;
	}
	@media(min-width: map-get($grid-breakpoints,lg)){ 
		margin-top: -100px;
		padding-top: 150px;
	}

	.titulo{
		margin: 20px 0px 10px;
		font-weight: 600;
		font-size: 1.2em;
	}

	.braco-preto{
		height:1px;
		position: relative;

		@media(min-width: 1500px){ 
			&:after{
			    position: absolute;
   				z-index: 10;
			    top: -300px;
			    left: 0px;
			    width: 240px;
			    content: "";
			    display: block;
			    height: 1200px;
			    background: url("../img/braco-preto.png");
			    background-size: cover;
			    background-position: right;
			    background-repeat: no-repeat;
			}
		}
	}

	.box-contato{
		display: flex;
		flex-direction: column;

		@media(min-width: map-get($grid-breakpoints,md)){ 
			flex-direction: row;
		}

		.item{
			flex: 1;
			.box-redes{
				display: flex;
				.item-encontre{
					flex: 1;
					font-size: 0.8125rem;
					font-family: "Montserrat", sans-serif;
					margin-left: 0px;

					.sub-titulo{
						font-weight: bold;
						color: #adadad;
					}

					.endereco{
						margin-bottom: 20px;
					}
					.telefone{
						a{
							color: black;
							&:hover{
								text-decoration: none;
								color: black;
							}
						}
					}
					.item-redes{
						margin-bottom: 10px;
					}

				}
			}

			&:nth-child(2){

				@media(min-width: map-get($grid-breakpoints,md)){ 
					margin-left: 30px;
				}
				form{

					input{
						width: 	100%;
						padding: 10px 0px 10px 0px;
						border: none;
						border-bottom: 1px solid #dadada;
					}

					textarea{
						height: 100px;
						margin-top: 20px;
						width: 	100%;
						padding: 10px 0px 10px 0px;
						border: none;
						border-bottom: 1px solid #dadada;
					}
					.btn-form{
						text-align: right;
						margin: 10px 0px;
						input{  
						    font-size: 1rem;
						    background: black;
						    width: 120px;
						    border-radius: 23px;
						    padding: 5px 0px;
						    color: white;
						    font-weight: bold;

						    &:hover{
						    	transition: 0.7s;
						    	background: #1f396c;
						    }
						}
					}
				}
			}
		}
	}
}