section.perguntas{
	background: #d4d5cd;
	padding: 40px 0px 0px 0px;	

	@media(min-width: map-get($grid-breakpoints,sm)){ 
		padding: 60px 0px 30px 0px;
	}
	@media(min-width: map-get($grid-breakpoints,md)){ 
		padding: 60px 0px 30px 0px;
	}
	@media(min-width: map-get($grid-breakpoints,lg)){ 
		padding: 80px 0px 40px 0px;	
	}
	@media(min-width: map-get($grid-breakpoints,xl)){ 
		padding: 100px 0px;	
	}
	.box-perguntas{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		font-family: "Montserrat" ,sans-serif;		
		color: #000;
		@media(min-width: map-get($grid-breakpoints,md)){ 
			flex-direction: row;
		}
		.item{
			padding-left: 20px;
			margin-bottom: 20px;

			@media(min-width: map-get($grid-breakpoints,md)){ 
				@include make-col(6);
			}

			@media(min-width: map-get($grid-breakpoints,xl)){ 
				@include make-col(4);
				padding-left: 50px;
			}

			//icone before
			// @media(min-width: map-get($grid-breakpoints,sm)){ 
				&:nth-child(1){
					.titulo{
						&:before{
							position:absolute;
							width: 100%;
							content: "";
							background: url("../img/pergunta_item1.png");
							background-repeat: no-repeat;
							background-size: contain;
							height: 50px;
							left: -25px;
							top: -10px;
							@media(min-width: map-get($grid-breakpoints,sm)){
								height: 75px;
								top: -20px;
								left: -40px;
							}
							@media(min-width: map-get($grid-breakpoints,md)){
								height: 75px;
								top: -20px;
								left: -50px;
							}
							@media(min-width: map-get($grid-breakpoints,lg)){
								height: 75px;
								top: -20px;
								left: -50px;
							}
						}
					}
				}
				&:nth-child(2){
					.titulo{
						&:before{
							position:absolute;
							width: 100%;
							content: "";
							background: url("../img/pergunta_item2.png");
							background-repeat: no-repeat;
							background-size: contain;
							height: 50px;
							left: -25px;
							top: -10px;
							@media(min-width: map-get($grid-breakpoints,sm)){
								height: 75px;
								top: -20px;
								left: -40px;
							}
							@media(min-width: map-get($grid-breakpoints,md)){
								height: 75px;
								top: -20px;
								left: -50px;
							}
							@media(min-width: map-get($grid-breakpoints,lg)){
								height: 75px;
								top: -20px;
								left: -50px;
							}
						}
					}
				}
				&:nth-child(3){
					.titulo{
						&:before{
							position:absolute;
							width: 100%;
							content: "";
							background: url("../img/pergunta_item3.png");
							background-repeat: no-repeat;
							background-size: contain;
							height: 50px;
							left: -25px;
							top: -10px;
							@media(min-width: map-get($grid-breakpoints,sm)){
								height: 75px;
								top: -20px;
								left: -40px;
							}
							@media(min-width: map-get($grid-breakpoints,md)){
								height: 75px;
								top: -20px;
								left: -50px;
							}
							@media(min-width: map-get($grid-breakpoints,lg)){
								height: 75px;
								top: -20px;
								left: -50px;
							}
						}
					}
				}
			// }
			//icone before

			.titulo{
				position: relative;
				max-width: 260px;
				font-size: 1.25rem;
				line-height: 22px;

				@media(min-width: map-get($grid-breakpoints,sm)){ 
					height: 40px;
				}
				span{
					font-weight: bold;
				}
			}

			.text-perguntas{
				font-size: 0.875rem;
				color: #6d6e66;
				margin-top: 10px;
			}
			.button{
				margin: 20px 0px;
				a{
					color: #000;
					background: #fff;
					padding: 5px 10px;
					border-radius: 15px;
					font-size: 0.625rem;
					font-weight:bold;
					text-transform: uppercase;
					&:hover{
						transition: 0.7s all ease;
						text-decoration: none;
						color: white;
						background: blue;
					}
					span{
						margin-left: 10px;
					}
				}
			}
		}
	}	
}

