section.etapas{
	padding: 20px 0px;
	@media(min-width: map-get($grid-breakpoints,sm)){ 
		padding: 50px 0px;
	}
	h2{
		margin-left: 0px;
		font-weight: bold;
		margin-bottom: 20px;

		span{
			display: block;	
		}
		@media(min-width: map-get($grid-breakpoints,sm)){ 
			margin-bottom: 50px;

		
		}
	}
	.box-etapas{
		display: flex;
		flex-direction: column;

		@media(min-width: map-get($grid-breakpoints,md)){ 
			flex-direction: row;
			flex-wrap: wrap;
		}

		.item{
			font-family: "Montserrat", sans-serif;
			padding-left: 50px;
			margin-bottom: 20px;
			flex: 1;

			@media(min-width: map-get($grid-breakpoints,md)){ 
				@include make-col(6);
			}
			@media(min-width: map-get($grid-breakpoints,lg)){ 
				@include make-col(3);
				padding-right: 30px; 
			}

			span{
			    margin-bottom: -5px;
			    display: block;
			    font-size: 1rem;
			    font-weight: bold;
			    color: #686767;

			}
			.sub-titulo{
				position: relative;
				font-size: 1.375rem;
				font-weight: bold;

				&:before{
					position:absolute;
					width: 100%;
					content: "";
					height: 50px;
					left: -55px;
					top: -10px;
					background: url("../img/icon_etapas.png");
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
			.descricao{
				font-size: 1rem;
				font-weight: 500;
			}
		}

	}
}