
section.materias_empresas{
	.banner-trabalho{
		background: url("../img/banner-trabalho.jpg");
		width: 100%;
		background-position-y: -50px;

		.container{
			position:relative;
		}
	}

	p.titulo{
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 15px;
		@media(min-width: map-get($grid-breakpoints,lg)){ 
			margin-bottom: 15px;
			margin-top: 0px;
		}

	}
	p{
		font-family: Montserrat, sans-serif;
		font-size: 0.875rem‬;
		text-align: justify;

		@media(min-width: map-get($grid-breakpoints,lg)){ 
			margin-bottom: 15px;
		}
		@media(min-width: map-get($grid-breakpoints,md)){ 
			
		}

	}

	.equipamentos{
		display: flex;
		flex-direction: column;

		@media(min-width: map-get($grid-breakpoints,sm)){ 
			margin-top: 100px;
		}

		@media(min-width: map-get($grid-breakpoints,lg)){ 
			flex-direction: row;
		}

		.item{
			position: relative;
			&:nth-child(1){
				@include make-col(12);
				.oculto_desk{
					font-size: 1.6rem;
				    display: block;
				    margin-bottom: 15px;
				    font-family: "Montserrat", sans-serif;
				    font-weight: bold;
				}
				.oculto_mobile{
					display: none;
				}
				.imagem{
				    background: url("../img/banner-equipamentos.png");
				    background-position-x: -35px;
				    background-size: cover;
				    height: 250px;
				}
				.titulo{

					font-weight: bold;
					font-size: 1.5rem;

				}
			}
			
			//segundo item
			&:nth-child(2){
				@include make-col(12);

			}

			//Apartir de SM
			@media(min-width: map-get($grid-breakpoints,sm)){ 
				&:nth-child(1){
					@media(min-width: map-get($grid-breakpoints,lg)){ 
						@include make-col(12);
					}	
					.oculto_desk{
						display: none;
					}
					.oculto_mobile{
						display: block;
					}

					padding-left: 50px;
					.imagem{

						height: 300px;
					}

					.titulo{
					 	width: 70%;
					 	height: 200px;
					 	border: 10px solid #dbdbdb91;
					 	padding: 10px 0px 0px 10px;
					 	position: absolute;
					 	top: -55px;	
					 	left: 0px;
					}
				}
				
				//segundo item
				&:nth-child(2){
					@include make-col(12);
					
				}
			}
			//Apartir de MD
			@media(min-width: map-get($grid-breakpoints,md)){ 
				&:nth-child(1){
					@media(min-width: map-get($grid-breakpoints,lg)){ 
						@include make-col(12);
					}	
					padding-left: 50px;
					
					.imagem{
						height: 350px;
					}
				}
				
				//segundo item
				&:nth-child(2){
					@include make-col(12);
					
				}
			}
			//Apartir de MD


			//Apartir de LG
			@media(min-width: map-get($grid-breakpoints,lg)){ 
				//primeiro item
				&:nth-child(1){
					@include make-col(8);
					padding-left: 50px;
					.imagem{
						height: 400px;
					}

					.titulo{
					 	width: 70%;
					 	height: 200px;
					 	border: 10px solid #dbdbdb91;
					 	padding: 10px 0px 0px 10px;
					 	position: absolute;
					 	top: -70px;	
					 	left: 0px;
					}
				}
				//segundo item
				&:nth-child(2){
					@include make-col(4);
					padding-left: 50px;
				}
			}
			//Apartir de LG
			
		}

	}


	.materias_direcao{
		display: flex;
		flex-direction: column;

		@media(min-width: map-get($grid-breakpoints,sm)){ 
			
		}
		@media(min-width: map-get($grid-breakpoints,md)){ 
			
			flex-direction: row;
		}
		@media(min-width: map-get($grid-breakpoints,lg)){ 
			margin-top: -130px;
		}
		@media(min-width: map-get($grid-breakpoints,xl)){ 
			margin-top: -250px;
		}
		.item{
			img{ display: none; }


			@media(min-width: map-get($grid-breakpoints,md)){
				img{
				    display: block;
				    width: 90%;
				    margin-left: 50px;
				    margin-top: 20px;
			    }
			}
			@media(min-width: map-get($grid-breakpoints,lg)){ 
				img{
				    width: 90%;
				    margin-left: 100px;
				}
			}
			
			&:nth-child(1){
				@media(min-width: map-get($grid-breakpoints,md)){ 
					
					flex-direction: row;
				}
				@media(min-width: map-get($grid-breakpoints,lg)){ 
					margin-top: 150px;
					flex-direction: row;
				}
				@media(min-width: map-get($grid-breakpoints,xl)){ 
					margin-top: 300px;
				}
			}
		}

		// Conteudo a partir do MD
		@media(min-width: map-get($grid-breakpoints,md)){ 
			.item{
				@include make-col(6);
			}
		}
	}

	.descricao{
		margin: 20px -15px 0px -15px;
    	background: #ceae79;
    	color: #fff;
    	padding: 20px;

		@media(min-width: map-get($grid-breakpoints,sm)){ 
			margin: 20px 0px 0px 0px; 
			padding: 20px;
		}

		@media(min-width: map-get($grid-breakpoints,md)){ 
			margin: 0px; 
    		padding: 50px 120px;
    	}

    	.titulo_descricao{
    		color: #fff;
    		font-size: 1.3rem;
    		position: relative;

    		@media(min-width: map-get($grid-breakpoints,md)){ 
    			font-size: 1.3rem;
    		}


    		@media(min-width: map-get($grid-breakpoints,md)){ 
				&:before{
				    content: "";
				    display: inline-block;
				    height: 55px;
				    width: 66px;
				    position: absolute;
				    left: -80px;
				    top: 30px;
				    background: url(http://localhost/arguto/wp-content/themes/arguto/dist/img/aspas-before.png);
				    background-repeat: no-repeat;
				    margin-bottom: 5px;
				    margin-right: 6px;  
	    		}
			}
    		
    	}
    	.autoria{
    		font-size: 1rem;
    		font-weight: bold;
    		.sub{
    			font-size: 0.9rem;
    			font-weight: 300;
    			margin-left: 21px;
    		}

    		&:before{
			    content: "";
			    display: inline-block;
			    height: 1.5px;
			    margin-bottom: 5px;
			    margin-right: 6px;
			    background: white;
			    width: 15px;
    		}
    	}

	}
}