@import "../components/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$vermelho: #fbb420;
$black: #0f0c0c;
$verde: #080230;
$texto: #282828;
$color-background: #eaecfa;  
$color-loader: #ce4233;
$textoBotao: #333333;
// @font-face {
//   font-family: Gotham Black;
//   src: url(../fonts/gotham_black.ttf)
// }


@mixin responsivo($rl, $rl2:1){
  @if($rl2 != 1){
    @media only screen and (min-width: $rl+"px") and (max-width: $rl2+"px") { 
      @content; 
    }
  }
  @else{
    @media only screen and (max-width: $rl+"px") { 
      @content; 
    }
  }
}

@mixin anima-slow {
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -khtml-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
} 

@mixin anima-normal {
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear; 
  -khtml-transition: all 0.2s linear; 
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@mixin anima-fast {
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -khtml-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}


@mixin placeholder {
  &::-webkit-input-placeholder {opacity:1; @content}
  &:-moz-placeholder           {opacity:1; @content}
  &::-moz-placeholder          {opacity:1; @content}
  &:-ms-input-placeholder      {opacity:1; @content}  
}



@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  box-shadow: 0 5px 0 $weight rgba($mix-sub-to, .25),
  0 -5px 0 $weight rgba($mix-sub-from, .25),
  3px 0 0 $weight rgba($mix-sub-to, .25),
  -3px 0 0 $weight  rgba($mix-sub-from, .25),
  3px -3px 0 $weight rgba($mix-main, .5),
  -3px 3px 0 $weight rgba($mix-main, .5),
  3px 3px 0 $weight rgba($to, .75),
  -3px -3px 0 $weight rgba($from, .75);
}

// Infinite Chars colors (Loading text color )
@mixin infiniteCharColors ($loopTimes) {
  @for $i from 1 through $loopTimes {
    &:nth-child(#{$i}) {
      $delayTime: 300 * $i +ms;
      display: inline-block;
      animation-name: charColor;
      animation-iteration-count: infinite;
      animation-duration: 1.3s;
      animation-delay: $delayTime;
      animation-timing-function: ease;
      animation-fill-mode: both;
      backface-visibility: hidden;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background-color: #9e9e9e; 
  border-radius: 6px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $vermelho; 
}

.ocultar{
  position: absolute;
  left: -99px;
  top: -99px; 
  text-indent: -9999px;
}


body, p, h1, h2, h3, ul, li, a {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden !important; 
  font-family: 'Montserrat', sans-serif;
  // background: $amarelo;
}

// Home
@import 'home';


//Footer
@import 'footer';

// Header
@import 'header';

//section saiba-mais
@import 'section-saiba-mais';

//section saiba-mais
@import 'section-etapas';

//section saiba-mais
@import 'section-perguntas';

//section section Contato
@import 'section-contato';

//section saiba-mais
@import 'section-materias';

// Animate Scroll
@import 'animate-scroll';

// Animate 
@import 'animate';

// Slick 
@import 'slick';

// .screen-reader-response  { 
//   display: none;
// }

#loading {
  background: linear-gradient(-20deg, #190922, #481f0b);
  height: 100vh; 
  width: 100vw;
  position: fixed;
  z-index: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-animation-duration: .5s;animation-duration: .5s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: $color-loader;
  letter-spacing: 0.2em;
  font-size: 1.5em;
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

@-webkit-keyframes slide {
  10% {top: -100px;}
  100% { top: 0; }
}

@keyframes slide {
  10% {top: -100px;}
  100% { top: 0; }
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 8;
  width: 38px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  background: #fff;
  box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  @include anima-slow;
  svg {
    width: 10px;
    height: 10px;
    margin-top: 2px;
    path {
      fill: $black;
    }
  }
}

#back-to-top:hover {
  @include anima-slow;
  background: $verde;
  svg {
    path {
      fill: #fff;
    }
  }
}

#back-to-top.show {
  opacity: 1;
}

@media(min-width: map-get($grid-breakpoints,md)){
  #back-to-top {
    bottom: 40px;
    right: percentage(.2/12);
  }
}


@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform:scale(1);
  }
  100% {
    opacity:0;
    transform:scale(0.9) rotateX(-60deg);
  }
}

